#size {
    width: 120px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #500000;
    padding: 30px;
}

#container {
    width: 350px;
    margin: auto;
}

#reserveDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#reserveDate > * {
    margin: 5px;
}

#confirmation-description {
    width: 250px;
    line-height: 30px;
}