{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Reservation</title>
        <script type="text/javascript" src="{% static 'Reservation/script.js' %}"></script>
        <link rel="stylesheet" href="{% static 'Reservation/style.css' %}">
    </head>
    <body>
        <div id="container">
            <div class="box" id="page">
                <div id="findDate">
                    <h1>Reservation</h1>
                    <form id="reserveDate">
                        <input required id="name" type="text" name="name" placeholder="Name">
                        <input required id="size" type="number" placeholder="Enter party size" min="1" max="8">
                        <div>
                            <label for="date" value="Date" step="360000">Date:</label>
                            <input required id="date" type="date" value="Date">
                        </div>
                        <input type="submit" value="Find Times">
                    </form>
                </div>
                <div class="box" id="findTime">
                    <form id="reserveTime">
                        <h1 id="greeting"></h1>
                        <h4 id="partySize"></h4>
                        <label for="times">Time Slot:</label>
                        <select id="times"></select>
                        <input type="submit">
                    </form>
                    <button id="goBack">Go Back</button>
                </div>
                <div class="box" id="confirmation">
                    <h3 id="confirmation-description"></h3>
                </div>
            </div>
        </div>
    </body>
</html>